{% extends 'cadastro/base.html' %}

{% block titulo %}Cadastro{% endblock%}

{% block conteudo %}

<section>

    <h2>Pessoas Cadastradas</h2>

    {% if total == 0 %}
    
    <p>Ooops! Cadastre alguém primeiro!</p>
    
    {% else %}

    {% for pessoa in pessoas %}
    <ul>
        <li>Nome: {{ pessoa.nome }}</li>
        <li>E-mail: {{ pessoa.email }}</li>
        <li>Idade: {{ pessoa.idade }}</li>
        <li><a href="/pessoa/{{ pessoa.id }}">Ver detalhes</a></li>
    </ul>    
    {% endfor %}

    {% endif %}

</section>

{% endblock %}